<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>记事本</title>

    {% load static %}
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/sweetalert-dev.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table-zh-CN.min.js' %}"></script>
    <script src="{% static 'api.js' %}"></script>
    <style>
        .danger {
            color: red;
            font-weight: bold;
        }

        .safe {
            color: green;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div style="text-align: center;">
    <h2><i class="fa fa-book"></i>
        记事本
    </h2>
</div>

<button id="addNoteButton" type="button" class="btn btn-primary btn-lg">添加
    <i class="fa fa-plus-square" style="font-size:20px"></i>
</button>


<table id="noteTable" class="table table-hover">
    <thead>
    <tr>
        <th>序号</th>

        <th>标题</th>
        <th>正文</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>状态</th>
        <th>
            <i class="fa fa-cog"></i>
            操作
        </th>
    </tr>
    </thead>
    <tbody>
    {% for i in note %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.text }}</td>
            <td>{{ i.s_time }}</td>
            <td>{{ i.e_time }}</td>
            {% if i.status == 'F' %}
                <td class="danger">已完成</td>
            {% elif i.status == 'U' %}
                <td class="safe">进行中</td>
            {% endif %}
            <td>
                {% if i.status == 'F' %}
                    <button type="button" class="btn btn-success" onclick="" disabled>完成
                        <i class="fa fa-check-square-o" style="font-size:20px"></i>
                    </button>
                {% elif i.status == 'U' %}
                    <button type="button" class="btn btn-success" οnclick=finishNote("{{ i.id }}")>完成
                        <i class="fa fa-check-square-o" style="font-size:20px"></i>
                    </button>
                {% endif %}
                <button type="button" class="btn btn-danger" οnclick=delNote("{{ i.id }}")>删除
                    <i class="fa fa-trash" style="font-size:20px"></i>
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<!--添加笔记弹出框-->
<div id="newNoteAlert" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    <i class="fa fa-user-plus" style="font-size:28px"></i>
                    新增记事
                </h4>
            </div>
            <div class="modal-body">
                <!--上传信息表格-->
                <form id="newNoteForm" action="" onsubmit="return false">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">标题</span>
                        </div>
                        <label for="name"></label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">内容</span>
                        </div>
                        <label for="text"></label>
                        <input type="text" class="form-control" id="text" name="text" required>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">开始时间</span>
                        </div>
                        <label for="startTime"></label>
                        <input type="datetime-local" class="form-control" id="startTime" name="startTime"
                               placeholder="请选择开始时间"
                               required>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">结束时间</span>
                        </div>
                        <label for="endTime"></label>
                        <input type="datetime-local" class="form-control" id="endTime" name="endTime"
                               placeholder="请选择结束时间"
                               required>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick=addNote()>提交
                            <i class="fa fa-pencil-square-o" style="font-size:20px"></i>
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">关闭
                            <i class="fa fa-times" style="font-size:20px"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--修改笔记弹出框-->
<div id="modifyNoteAlert" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    <i class="fa fa-wrench"> 修改记事</i>
                </h4>
            </div>
            <div class="modal-body">
                <form id="modifyNoteForm" action="" onsubmit="return false">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">记事序号</span>
                        </div>
                        <label for="id"></label>
                        <input type="text" class="form-control" id="id" name="id" required disabled>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">标题</span>
                        </div>
                        <label for="names"></label>
                        <input type="text" class="form-control" id="names" name="names" required>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">内容</span>
                        </div>
                        <label for="texts"></label>
                        <input type="text" class="form-control" id="texts" name="texts" required>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">开始时间</span>
                        </div>
                        <label for="startTimes"></label>
                        <input type="datetime-local" class="form-control" id="startTimes" name="startTimes"
                               placeholder="请选择开始时间"
                               required>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">结束时间</span>
                        </div>
                        <label for="endTimes"></label>
                        <input type="datetime-local" class="form-control" id="endTimes" name="endTimes"
                               placeholder="请选择结束时间"
                               required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick=modifyNote()>提交
                            <i class="fa fa-pencil-square-o" style="font-size:20px"></i>
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">关闭
                            <i class="fa fa-times" style="font-size:20px"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    $('#noteTable').bootstrapTable({
        //点击行事件
        onDblClickRow: function (row) {
            if (row[5] === '进行中') {
                $('#modifyNoteAlert').modal('show')
                $('#id').val(row[0])
                $('#names').val(row[1])
                $('#texts').val(row[2])
            }
        },
        //是否显示分页条
        pagination: true,
        //首页页码
        pageNumber: 1,
        //一页显示的行数
        pageSize: 10,
        //是否开启分页条无限循环，最后一页时点击下一页是否转到第一页
        paginationLoop: false,
        //选择每页显示多少行，数据过少时可能会没有效果
        pageList: [10, 20],
        //启用关键字搜索框
        search: true,
    })

    $('#addNoteButton').click(function () {
        $('#newNoteAlert').modal('show')
    })

</script>
</body>
</html>
